
.input-label {
    font-size: 18px;
    font-family: 'Arial', sans-serif; 
}

.input-field {
    font-size: 18px;
}


#quote1 {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.quote {
    font-size: 18px; 
    text-align: center;
}

#canvas-container {
    display: inline-block;
    position: relative;
    width: 50vw;
    margin: 0 auto;
}


#waveSpeedSlider {
    width: 10%;
    -webkit-appearance: none;
}

#waveSpeedSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: black; 
    cursor: pointer;
}

#waveSpeedSlider::-moz-range-thumb {
    width: 8px;
    height: 15px;
    background: black; 
    cursor: pointer;
}

